@model IEnumerable<Course>

<h2>Courses</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Course</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Branch</th>
            <th>Faculty</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Branch?.Name</td>
                <td>@item.Faculty?.Name</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>